@model List<Coche>

<h1>ElastiCache AWS Coches</h1>

<a asp-controller="Coches" asp-action="Favoritos"
   class="btn btn-warning">Mostrar Favoritos</a>

@foreach (Coche car in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="@car.Imagen" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@car.Marca @car.Modelo</h5>
            <a asp-controller="Coches" asp-action="Details"
           asp-route-id="@car.IdCoche"
               class="btn btn-primary">Details</a>
            <a asp-controller="Coches" asp-action="SeleccionarFavorito"
           asp-route-idcoche="@car.IdCoche"
               class="btn btn-warning">Seleccionar Favorito</a>
        </div>
    </div>
}
